.product_item{
	width: 100%;
	height: auto;

}

.img{
	
	height: 140px;
}

.container{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
	grid-gap: 10px;
}
h2{
	margin-left: 50px;
}